<footer> {{ partial "foot_custom.html" . }} {{ with .Site.Params.footer }}
<hr/> {{ . | markdownify }}
  {{ end }}
<hr/>
<div class="gitinfo">
{{ with .GitInfo }}
  {{ .CommitDate.Format "2006-01-02 15:04:05" }}:
  {{ .Subject }}
{{ end }}
</div>
</footer>
</body>
</html>
